body {
  margin: 0;
  background-color: #f5f6f8;
}

.taskflow-navbar {
  background-color: #10263f;
}

.taskflow-logo {
  font-size: 1.6rem;
  font-weight: 700;
}

.taskflow-logo span {
  color: #0d6efd;
}

.badge-pendente {
  background-color: #fd7e14;
  color: white;
}